// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/banner";
@import "components/footer";
@import "components/movie-show";
@import "components/movie-card";

ul {
  list-style: none;
}


.thumbnail {
  position: relative;
}

.caption {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

a {
  color: white;
  text-decoration: none; /* no underline */
}

a:hover {
  color: black;
}
